//Taille typo
$typoratio: 1.414;
$typobody: 1em;
$typoh4: $typobody*$typoratio;
$typoh3: $typoh4*$typoratio;
$typoh2: $typoh3*$typoratio;
$typoh1: $typoh2*$typoratio;

//Graisse typo
$light: 300;
$normal: 400;
$bold: 700;

//Couleurs typo
$black: #000000;
$grey: #ABB7B7;
$linkcolor: #4183d7;
$successcolor: #26A65B;
$bewarecolor: #F89406;
$warningcolor: #D91E18;

//Famille typo
$familybody: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$familytitle: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
$familycode: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;


body{
	font-family: $familybody;
	font-weight: $normal;
	color: $black;
	font-size: 0em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: $familytitle;
	font-weight: $normal;
	line-height: 1.2;
	color: $black;
	margin:0;
}

h1, .h1{
	font-size: $typoh1;
}

h2, .h2 {
	font-size: $typoh2;
}

h3, .h3 {
	font-size: $typoh3;
}

h4, .h4 {
	font-size: $typoh4;
}

small, .font_small {
	font-size: $typobody;
	color: $grey;
	font-weight: $light;
}

p{margin-bottom: 1.3em;}

mark, .mark{background-color: yellow;}

del, .del{
	color: #c0392b;
	text-decoration: line-through;
}

ins, .ins{
	color: #4183D7;
	text-decoration: underline;
}

strong, .strong{font-weight: $bold;}

em, .em{
	font-style: italic;
	font-weight: normal;
	&:before{
		content: "“";
	}
	&:after{
		content: "”";
	}
}

code{
	display: inline;
	font-family: $familycode;
}

pre{
	font-family: $familycode;
}

abbr, .abbr{text-transform: uppercase;}

blockquote, .blockquote{
	font-style: italic;
	font-weight: $light;
	font-family: $familybody;
	font-size: $typoh3;
	margin: 0.5em;
	&:before{
		content: "“";
	}
	&:after{
		content: "”";
	}
}

ul{
	padding: 0;
	margin:0;
}

li{

}

a{
	color: $linkcolor;
	text-decoration: none;

	&:hover{
		color: lighten($linkcolor, 20);
		text-decoration: none;
	}
}

.list_square{list-style-type: square;}

.list_none{list-style-type: none;}

.text_left{text-align: left;}

.text_right{text-align: right;}

.text_center{text-align: center;}

.text_jusitfy{text-align: justify;}

.text_upper{text-transform: uppercase;}

.text_lower{text-transform: lowercase;}