/* line 7, ../scss/styles.scss */
header {
  background-color: #97D17A;
}

/* line 11, ../scss/styles.scss */
.header-inner {
  padding: 0.5em 0;
}
/* line 13, ../scss/styles.scss */
.header-inner .logo, .header-inner .navPrincipale {
  vertical-align: middle;
}

/* line 18, ../scss/styles.scss */
.container {
  background-color: white;
}

/* line 22, ../scss/styles.scss */
aside, .aside {
  background-color: #4C8DA6;
}

/* line 26, ../scss/styles.scss */
.aside-inner {
  padding: 0.5em 0;
}
/* line 28, ../scss/styles.scss */
.aside-inner .categories {
  vertical-align: middle;
}
/* line 30, ../scss/styles.scss */
.aside-inner .categories li {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 0;
}
/* line 34, ../scss/styles.scss */
.aside-inner .categories li a {
  color: white;
}
/* line 36, ../scss/styles.scss */
.aside-inner .categories li a:hover {
  color: #FFCE74;
}
/* line 40, ../scss/styles.scss */
.aside-inner .categories li:nth-child(odd) {
  margin-left: 0;
}
/* line 43, ../scss/styles.scss */
.aside-inner .categories li:nth-child(even) {
  margin-right: 0;
}
/* line 49, ../scss/styles.scss */
.aside-inner .connection {
  vertical-align: middle;
}

/* line 54, ../scss/styles.scss */
article, .article {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 57, ../scss/styles.scss */
article .titreArticle, article .photosAnnonce, article .infoAnnonce, .article .titreArticle, .article .photosAnnonce, .article .infoAnnonce {
  margin-bottom: 0.5em;
}
/* line 61, ../scss/styles.scss */
article .annonceListe, .article .annonceListe {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #4C8DA6;
}
/* line 67, ../scss/styles.scss */
article .infoAnnonce, .article .infoAnnonce {
  border: 1px solid #4C8DA6;
  padding: 1em;
}
/* line 72, ../scss/styles.scss */
article .autreAnnonce ul li, .article .autreAnnonce ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em;
}
/* line 76, ../scss/styles.scss */
article .autreAnnonce ul li:nth-child(2), .article .autreAnnonce ul li:nth-child(2) {
  border-left: 1px solid black;
}
/* line 81, ../scss/styles.scss */
article fieldset, .article fieldset {
  border: 1px solid #4C8DA6;
}

/* line 86, ../scss/styles.scss */
footer {
  background-color: #97D17A;
}
/* line 87, ../scss/styles.scss */
footer .validation {
  padding: 0.5em 0;
}

@media screen and (max-width: 860px) {
  /* line 97, ../scss/styles.scss */
  .form_inline fieldset, .form_block fieldset {
    display: block;
    width: 100%;
    margin: 0;
  }
  /* line 103, ../scss/styles.scss */
  .form_inline input, .form_inline button, .form_inline select, .form_block input, .form_block button, .form_block select {
    display: block;
    width: 100%;
    margin: 0.5em 0;
  }

  /* line 111, ../scss/styles.scss */
  .header-inner .logo, .header-inner .navPrincipale {
    display: block;
    width: 100%;
  }
  /* line 117, ../scss/styles.scss */
  .header-inner .logo h1 {
    font-size: 2.5em;
    text-align: center;
  }
  /* line 123, ../scss/styles.scss */
  .header-inner .navPrincipale {
    margin-left: 0;
  }
  /* line 125, ../scss/styles.scss */
  .header-inner .navPrincipale .navbar {
    display: block;
  }
  /* line 127, ../scss/styles.scss */
  .header-inner .navPrincipale .navbar .navbar_item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5em 0;
  }

  /* line 140, ../scss/styles.scss */
  .aside-inner .categories, .aside-inner .connection {
    display: block;
    width: 100%;
  }
  /* line 146, ../scss/styles.scss */
  .aside-inner .categories li {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    margin: 0;
    text-align: center;
  }
  /* line 155, ../scss/styles.scss */
  .aside-inner .connection {
    margin-left: 0;
  }

  /* line 161, ../scss/styles.scss */
  article .titreArticle, .article .titreArticle {
    text-align: center;
  }
  /* line 166, ../scss/styles.scss */
  article .annonceListe img, .article .annonceListe img {
    display: block;
    width: 100%;
  }
  /* line 171, ../scss/styles.scss */
  article .annonceListe .informations, .article .annonceListe .informations {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 0.5em;
  }
  /* line 180, ../scss/styles.scss */
  article .photosAnnonce img, .article .photosAnnonce img {
    display: block;
    width: 100%;
    margin: 0.5em 0;
  }
  /* line 188, ../scss/styles.scss */
  article .infoAnnonce div, .article .infoAnnonce div {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 196, ../scss/styles.scss */
  article .autreAnnonce ul, .article .autreAnnonce ul {
    display: block;
    width: 100%;
    margin: 0;
  }
  /* line 200, ../scss/styles.scss */
  article .autreAnnonce ul li, .article .autreAnnonce ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 204, ../scss/styles.scss */
  article .autreAnnonce ul li:nth-child(1), .article .autreAnnonce ul li:nth-child(1) {
    border-bottom: 1px solid black;
  }
  /* line 208, ../scss/styles.scss */
  article .autreAnnonce ul li:nth-child(2), .article .autreAnnonce ul li:nth-child(2) {
    border-left: none;
  }

  /* line 217, ../scss/styles.scss */
  footer .validation {
    margin-left: 0;
    width: 100%;
  }
  /* line 220, ../scss/styles.scss */
  footer .validation a {
    text-align: center;
  }
}
@media screen and (min-width: 860px) and (max-width: 1440px) {
  /* line 231, ../scss/styles.scss */
  .connection input {
    display: block;
    width: 100%;
    margin: 0.5em 0;
  }

  /* line 239, ../scss/styles.scss */
  .autreAnnonce ul {
    display: block;
    width: 100%;
    margin: 0;
  }
  /* line 243, ../scss/styles.scss */
  .autreAnnonce ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 247, ../scss/styles.scss */
  .autreAnnonce ul li:nth-child(1) {
    border-bottom: 1px solid black;
  }
  /* line 251, ../scss/styles.scss */
  .autreAnnonce ul li:nth-child(2) {
    border-left: none;
  }
}
