$red: #FA6E69;
$yellow: #FFCE74;
$green: #97D17A;
$blue: #4C8DA6;
$darkBlue: #5B608C;

header{
	background-color:$green;
}

.header-inner{
	padding: 0.5em 0;
	.logo, .navPrincipale{
		vertical-align: middle;
	}
}

.container{
	background-color: white;
}

aside,.aside{
	background-color:$blue;
}

.aside-inner{
	padding: 0.5em 0;
	.categories{
		vertical-align: middle;
		li{
			display: inline-block;
			vertical-align: top;
			padding: 0.5em 0;
			a{
				color: white;
				&:hover{
					color: $yellow;
				}
			}
			&:nth-child(odd){
				margin-left: 0;
			}
			&:nth-child(even){
				margin-right: 0;
			}
		}
	}

	.connection{
		vertical-align: middle;
	}
}

article, .article{
	margin-top: 1em;
	margin-bottom: 1em;
	.titreArticle, .photosAnnonce, .infoAnnonce{
		margin-bottom: 0.5em;
	}

	.annonceListe{
		margin-bottom: 1em;
		padding: 1em;
		border: 1px solid $blue;
	}

	.infoAnnonce{
		border: 1px solid $blue;
		padding:1em;
	}

	.autreAnnonce ul li{
		display: inline-block;
		vertical-align: top;
		padding: 0.5em;
		&:nth-child(2){
			border-left: 1px solid black;
		}
	}

	fieldset{
		border: 1px solid $blue;
	}
}

footer{
	.validation{
		padding: 0.5em 0;
	}
	background-color: $green;
}

//CSS pour screen < 860px==========================================

@media screen and (max-width: 860px){
	.form_inline, .form_block{
		fieldset{
			display: block;
			width: 100%;
			margin: 0;
		}

		input, button, select{
			display: block;
			width: 100%;
			margin: 0.5em 0;
		}
	}

	.header-inner{
		.logo, .navPrincipale{
			display: block;
			width: 100%;
		}

		.logo{
			h1{
				font-size: 2.5em;
				text-align: center;
			}
		}

		.navPrincipale{
			margin-left: 0;
			.navbar{
				display: block;
				.navbar_item{
					display: block;
					width: 100%;
					text-align: center;
					font-size: 1.25em;
					padding: 0.5em 0;
				}
			}
			
		}
	}

	.aside-inner{
		.categories, .connection{
			display: block;
			width: 100%;
		}

		.categories{
			li{
				display: block;
				width: 100%;
				padding: 0.5em 0;
				margin: 0;
				text-align: center;
			}
		}

		.connection{
			margin-left: 0;
		}
	}

	article, .article{
		.titreArticle{
			text-align: center;
		}

		.annonceListe{
			img{
				display: block;
				width: 100%;
			}

			.informations{
				display: block;
				width: 100%;
				margin-left: 0;
				margin-top: 0.5em;
			}
		}

		.photosAnnonce{
			img{
				display: block;
				width: 100%;
				margin: 0.5em 0;
			}
		}

		.infoAnnonce{
			div{
				display: block;
				width: 100%;
				text-align: center;
			}
		}

		.autreAnnonce{
			ul{
				display: block;
				width: 100%;
				margin: 0;
				li{
					display: block;
					width: 100%;
					text-align: center;
					&:nth-child(1){
						border-bottom: 1px solid black;
					}

					&:nth-child(2){
						border-left: none;
					}	
				}
			}
		}
	}

	footer{
		.validation{
			margin-left: 0;
			width: 100%;
			a{
				text-align: center;
			}
		}
	}
}

//CSS pour 860px < screen < 1440px==========================================

@media screen and (min-width: 860px) and (max-width: 1440px){
	.connection{
		input{
			display: block;
			width: 100%;
			margin: 0.5em 0;
		}
	}

	.autreAnnonce{
			ul{
				display: block;
				width: 100%;
				margin: 0;
				li{
					display: block;
					width: 100%;
					text-align: center;
					&:nth-child(1){
						border-bottom: 1px solid black;
					}

					&:nth-child(2){
						border-left: none;
					}	
				}
			}
		}
}